/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments.js";
import * as core from "../../../../core/index.js";
import * as FernFai from "../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as errors from "../../../../errors/index.js";

export declare namespace Conversations {
    export interface Options {
        environment?: core.Supplier<environments.FernFaiEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        token?: core.Supplier<core.BearerToken | undefined>;
        /** Additional headers to include in requests. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional headers to include in the request. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
    }
}

/**
 * FAI Conversations API
 */
export class Conversations {
    protected readonly _options: Conversations.Options;

    constructor(_options: Conversations.Options = {}) {
        this._options = _options;
    }

    /**
     * Retrieve all paginated chat conversations
     *
     * @param {string} domain
     * @param {FernFai.GetConversationsRequest} request
     * @param {Conversations.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FernFai.BadRequestError}
     * @throws {@link FernFai.InternalError}
     *
     * @example
     *     await client.conversations.getConversations("domain")
     */
    public getConversations(
        domain: string,
        request: FernFai.GetConversationsRequest = {},
        requestOptions?: Conversations.RequestOptions,
    ): core.HttpResponsePromise<FernFai.Conversations> {
        return core.HttpResponsePromise.fromPromise(this.__getConversations(domain, request, requestOptions));
    }

    private async __getConversations(
        domain: string,
        request: FernFai.GetConversationsRequest = {},
        requestOptions?: Conversations.RequestOptions,
    ): Promise<core.WithRawResponse<FernFai.Conversations>> {
        const { source, page, limit } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (source != null) {
            _queryParams["source"] = source;
        }

        if (page != null) {
            _queryParams["page"] = page.toString();
        }

        if (limit != null) {
            _queryParams["limit"] = limit.toString();
        }

        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernFaiEnvironment.Prod,
                `/conversations/${encodeURIComponent(domain)}`,
            ),
            method: "GET",
            headers: mergeHeaders(
                this._options?.headers,
                mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
                requestOptions?.headers,
            ),
            queryParameters: _queryParams,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as FernFai.Conversations, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as any)?.["error"]) {
                case "BadRequestError":
                    throw new FernFai.BadRequestError(_response.error.body as string, _response.rawResponse);
                case "InternalError":
                    throw new FernFai.InternalError(_response.error.body as string, _response.rawResponse);
                default:
                    throw new errors.FernFaiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.FernFaiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.FernFaiTimeoutError("Timeout exceeded when calling GET /conversations/{domain}.");
            case "unknown":
                throw new errors.FernFaiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Retrieve a complete conversation by conversation id
     *
     * @param {string} conversationId
     * @param {Conversations.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FernFai.BadRequestError}
     * @throws {@link FernFai.InternalError}
     *
     * @example
     *     await client.conversations.getConversationById("conversation_id")
     */
    public getConversationById(
        conversationId: string,
        requestOptions?: Conversations.RequestOptions,
    ): core.HttpResponsePromise<FernFai.Conversation> {
        return core.HttpResponsePromise.fromPromise(this.__getConversationById(conversationId, requestOptions));
    }

    private async __getConversationById(
        conversationId: string,
        requestOptions?: Conversations.RequestOptions,
    ): Promise<core.WithRawResponse<FernFai.Conversation>> {
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernFaiEnvironment.Prod,
                `/conversations/${encodeURIComponent(conversationId)}`,
            ),
            method: "GET",
            headers: mergeHeaders(
                this._options?.headers,
                mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
                requestOptions?.headers,
            ),
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as FernFai.Conversation, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as any)?.["error"]) {
                case "BadRequestError":
                    throw new FernFai.BadRequestError(_response.error.body as string, _response.rawResponse);
                case "InternalError":
                    throw new FernFai.InternalError(_response.error.body as string, _response.rawResponse);
                default:
                    throw new errors.FernFaiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.FernFaiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.FernFaiTimeoutError(
                    "Timeout exceeded when calling GET /conversations/{conversation_id}.",
                );
            case "unknown":
                throw new errors.FernFaiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
